body {
  border: 2px solid salmon;
  padding: 20px;
}

#list {
  border: 2px solid rgb(43, 168, 43);
  list-style-type: none;
}

.item {
  border: 2px solid rgb(0, 140, 255);
  margin: 20px;
  padding: 10px;
}